<a href="https://colab.research.google.com/github/shanksghub/Python-Practice/blob/main/Python%20Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RECURSION Practice**

In [3]:
# we use the function in itself recursively here.

def get_nthfibo(n):
    if n == 2:
        return 1
    elif n == 1:
        return 0
    else:
        return get_nthfibo(n-1)+ get_nthfibo(n-2)

21

**Using range(0,9) and range(2,9)**

In [19]:
fibo_numbers = [0, 1]
for i in range(2,9):
    fibo_numbers.append(fibo_numbers[i-1]+fibo_numbers[i-2])

In [21]:
fibo_numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [24]:
fib0_numbers = [0, 1]
for i in range(0,9):
    fib0_numbers.append(fib0_numbers[i-1]+fib0_numbers[i-2])

In [25]:
fib0_numbers

[0, 1, 1, 1, 1, 2, 2, 2, 3, 4, 4]

list of fibo numbers

In [38]:
a = 0
b = 1
while b < 9:
    a, b = b, a+b
    print(a, b)

1 1
1 2
2 3
3 5
5 8
8 13

**List**

In [30]:
# Lists
# constructed with brackets [] and
# commas separate every element in the list.

# Assign a list to an variable named example_list
example_list = [1,2,3]

#Lists can contain integers and different types of objects 

list_with_objects = ['strings',3.14, 9 ,'a','abc',9*8]

# len tells us the number of elements in the list
len(list_with_objects)

6

In [34]:
print(example_list)
print(list_with_objects)
len(list_with_objects)

[1, 2, 3]
['strings', 3.14, 9, 'a', 'abc', 72]

6

**Indexing and Slicing**

In [41]:
# Indexing and Slicing
# Indexing and slicing work just like in strings. 
# Let's make a new list to remind ourselves of how this works:

list = ['1','pqr','rst', 100, 99, 98]
# Grab element at index 0
list[0]
list[2]
list[3]

100

In [42]:
list[2]

'rst'

In [43]:
list[3]

100

In [ ]:
# Grab index 1 and everything past it
list[1:]

# Grab everything UP TO index 3
list[:3]

# Use + to concatenate strings
list + ['concatenation']

# original list remains the same
list

# To make change permanent reassign list

# Reassign
list = list + ['permanent list added here']
list

# we can multiply the number of times we want to multiple lists by using *
# Making the list 4 times

list * 2

# using * doesn't change the list permanently
list

In [44]:
# Grab index 1 and everything past it
list[1:]

['pqr', 'rst', 100, 99, 98]

In [45]:
# Grab everything UP TO index 3
list[:3]

['1', 'pqr', 'rst']

In [47]:
# Use + to concatenate strings
list + ['concatenation']

['1', 'pqr', 'rst', 100, 99, 98, 'concatenation']

In [48]:
# original list remains the same
list

['1', 'pqr', 'rst', 100, 99, 98]

In [50]:
# To make change permanent reassign list

# Reassign
list = list + ['permanent list added here']
list

['1',
 'pqr',
 'rst',
 100,
 99,
 98,
 'permanent list added here',
 'permanent list added here']

In [52]:
# we can multiply the number of times we want to multiple lists by using *
# Making the list 4 times

list * 4

['1',
 'pqr',
 'rst',
 100,
 99,
 98,
 'permanent list added here',
 'permanent list added here',
 '1',
 'pqr',
 'rst',
 100,
 99,
 98,
 'permanent list added here',
 'permanent list added here',
 '1',
 'pqr',
 'rst',
 100,
 99,
 98,
 'permanent list added here',
 'permanent list added here',
 '1',
 'pqr',
 'rst',
 100,
 99,
 98,
 'permanent list added here',
 'permanent list added here']

In [53]:
# using * doesn't change the list permanently
list

['1',
 'pqr',
 'rst',
 100,
 99,
 98,
 'permanent list added here',
 'permanent list added here']

In [ ]:
# Create a new list
list1 = [1,2,3]
Use the append method to permanently add an item to the end of a list:

# Append
list1.append('append me!')
# Show
list1
[1, 2, 3, 'append me!']
Use pop to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

# Pop off the 0 indexed item
list1.pop(0)
1
# Show
list1
[2, 3, 'append me!']
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()
popped_item
'append me!'
# Show remaining list
list1
[2, 3]

In [ ]:
# Create a new list
list1 = ['jkl',20,99]

# Append methods add an item to the end of a list permanently
# Append
list1.append('appended')
# Show

list1
[1, 2, 3, 'append me!']
# pop pops off an item fromt he list which is the last index by default.
# Pop off works with indexed item as well
list1.pop

list1.pop(1)

In [80]:
# Create a new list
list1 = ['jkl',20,99,81,77,98,96]
list1

['jkl', 20, 99, 81, 77, 98, 96]

In [81]:
# Append methods add an item to the end of a list permanently
# Append
list1.append('appended')
list1

['jkl', 20, 99, 81, 77, 98, 96, 'appended']

In [82]:
list1

['jkl', 20, 99, 81, 77, 98, 96, 'appended']

In [83]:
# pop pops off an item fromt the list which is the last index by default.
# Pop off works with indexed item as well
list1.pop()

'appended'

In [84]:
list1

['jkl', 20, 99, 81, 77, 98, 96]

In [85]:
list1.pop(1)

20

In [86]:
list1

['jkl', 99, 81, 77, 98, 96]

In [87]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()
popped_item

96

In [88]:
list1

['jkl', 99, 81, 77, 98]

In [ ]:
# error is returned if there is no element at a particular index, for eg -
list1[50]

In [89]:
# Sort and reverse methods on lists :
newlist = ['1','2',3,5,9*9]
newlist

['1', '2', 3, 5, 81]

In [ ]:
# reverse permanently reverses the order
newlist.reverse()
newlist

In [90]:
list = ['9', 9, 't', 'y', 9*8]

In [104]:
list2 = ['9', 't', 'y','8','80']

In [111]:
# sorts sorts the numbers in ascending order and alphabets in alphabetical order
list2.sort()

In [112]:
list2

['8', '80', '9', 't', 'y']

In [120]:
list3 = ['q', 't', 'z','r','y','a']

In [121]:
list3.sort()

In [122]:
list3

['a', 'q', 'r', 't', 'y', 'z']

In [123]:
# sorts sorts the numbers in asceding order and alpahbets in alphabetical order
list4 = [2,3,44,1,5,99,80]
list4

[2, 3, 44, 1, 5, 99, 80]

In [124]:
list4.sort()

In [125]:
list4

[1, 2, 3, 5, 44, 80, 99]

**Nesting**
Nesting means we can have data structures inside data structures, that is lists within lists.

In [127]:
# Let's make three lists
list_1=[21,22,23]
list_2=[44,45,46]
list_3=[57,58,59]

# Make a list of lists to form a matrix
listoflists = [list_1,list_2,list_3]

In [128]:
listoflists

[[21, 22, 23], [44, 45, 46], [57, 58, 59]]

In [130]:
# we can use indexing to first get items inside list of lists and then items in a particular list
# Getting second item in listoflists object
listoflists[1]

[44, 45, 46]

In [132]:
# Getting third item in the listoflists object
listoflists[1][2]

46

A small example of list comprehensions here

In [133]:
firstcolumn = [a[0] for a in listoflists]

In [134]:
firstcolumn

[21, 44, 57]

In [136]:
secondcolumn = [a[1] for a in listoflists]

In [137]:
secondcolumn

[22, 45, 58]